body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container{
    width: 1000px;
    height: 500px;
}
.half{
    display: flex;
    justify-content: center;
}
.first{
    margin-top: 50px;
    margin-bottom: 30px;
}
.card{
    width: 180px;
    height: 250px;
    margin: 7px;
    background: bisque;
    box-sizing: border-box;
}
.card > div{
    height: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.text, a{
    font-size: smaller;
    padding: 0 10px;
    text-align: center;
}
.button, a{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    width: 70px;
    height: 30px;
    background: #95e57a;
}