body {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px 65px 50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

input {
    width: 200px;
    margin: 3px;
}